nav{
    background-color: #fd8802;
    color: #fff;
    display: flex;
    padding: 16px;
    justify-content: space-between;
}
.logout-icon{
    --slds-c-icon-color-foreground-default:#fff;
}